*.mkv
*.mp4
*.pt
*.zip
*.tar.gz
datasets/*/
datasets/id_split*
datasets/*.csv
output/*/*.avi
output_save/*
models/*
mot/deep_sort_orig/
.idea
__py*
.venv
.jedi
model/resnet50_mixstyle
model/color_svm.pkl
model/type_svm.pkl